.main-container {
    display: flex;
    gap: 5px; /* Space between Products and Cart */
    height: 90vh; /* Set height for both sections */
}

.products,
.cart-section {
    flex: 1; /* Make both sections grow equally */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.products {
    max-width: 65%; /* Restrict Products width */
}

.cart-section {
    max-width: 35%; /* Restrict Cart width */
    transition: transform 0.3s ease;
}

.forms {
    flex: 3;
    border: 1px solid var(--gray-300);
    margin: 9px;
    padding: 16px;
}

.cart-item {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid var(--gray-300);
}

.cart-item .left{
    flex: 2;
}

.cart-item .middle{
    flex: 1;
}

.cart-item-buttons{
    border: 1px solid var(--gray-300);
    display: inline-block;
}

.cart-item-buttons button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.cart-item-buttons button:hover {
    background-color: var(--gray-300);
}

.cart-item-buttons > * {
    padding-left: 8px;
    padding-right: 8px;
}

.cart-item .right {
    flex: 1;
    text-align: right;
}
.product-item {
    cursor: pointer;
}
.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.category-buttons {
    gap: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow-x: hidden;
}
.category-buttons button {
    flex-grow: 1;
    flex-basis: calc(25% - 10px);
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.slide {
transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adjust grid for smaller screens */
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Further adjust for very small screens */
    }
}

@media (max-width: 1367px) {
    .main-container {
        flex-direction: column; /* Stack the two sections vertically */
        height: auto; /* Allow height to adjust */
    }

    .products,
    .cart-section {
        max-width: 100%; /* Allow full width */
        height: 60vh; /* Adjust height for smaller screens */
    }
    
    .cart-button {
        display: block; /* Show the button to toggle cart */
        margin: 16px 0;
    }
    .sticky-cart-button {
        display: block; /* Show sticky button on smaller screens */
    }
}